<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work_item.name %>
</p>

<p>
  <strong>Label:</strong>
  <%= @work_item.label %>
</p>

<%= link_to '編集', edit_work_item_path(@work_item) %> |
<%= link_to '一覧', work_items_path %>
