<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="work_items">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>作業内容</th>
          <th></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @work_items = WorkItem.all %>
        <% @work_items.each_with_index do |work_item, index| %>
          <tr>
            <td><label class="form-check-label" for="<%= index %>"><%= work_item.name %></td>
            <td><input class="form-check-input" type="checkbox" id="<%= index %>" onchange="generate_text()"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_area :content, id: 'output' , class: 'form-control', rows: 10 %>
  </div>

  <div class="field">
    <%= form.label :報告日 %>
    <%= form.date_select :reported %>
  </div>

  <div class="actions">
    <%= form.submit %>
    <button type="button" onclick="copyToClipboard()" class="btn btn-primary">コピー</button>
  </div>
  <script>
    function generate_text() {
      let list = Array.prototype.slice.call(document.getElementsByClassName("form-check-label"));
      let generated_text = "";
      list.forEach(text => {
          if (text.control && text.control.checked == true)
              generated_text = generated_text + "・" + text.innerText + "\n";
      });
      document.getElementById("output").value = generated_text;
    }
    function copyToClipboard() {
            let copyTarget = document.getElementById("output");
            copyTarget.select();
            document.execCommand("Copy");
            alert("コピーしました\n" + copyTarget.value);
        }
  </script>
<% end %>
