<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="work_items">
    <table>
      <thead>
        <tr>
          <th>作業内容</th>
          <th>報告日</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @work_items = WorkItem.all %>
        <% @work_items.each do |work_item| %>
          <tr>
            <td><%= work_item.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :報告日 %>
    <%= form.date_select :reported %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
